<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link"
      id="home-tab"
      data-toggle="tab"
      routerLink="new-product"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      routerLinkActive="active"
      >{{'MANAGER.ADD-PRODUCT' | translate}}</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="profile-tab"
      data-toggle="tab"
      routerLink="new-tag"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
      routerLinkActive="active"
      >{{'MANAGER.ADD-TAG' | translate}}</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link d-none"
      id="profile-tab"
      data-toggle="tab"
      routerLink="edit-product"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
      routerLinkActive
      #rla="routerLinkActive"
      [ngClass]="{ 'd-none': !rla.isActive, active: rla.isActive }"
      >{{'MANAGER.EDIT' | translate}}</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
