<app-error-wrapper>
  <div *ngIf="!doesProductExist; else content"></div>
  <ng-template #content>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
          <form [formGroup]="productForm">
            <div class="form-group">
              <label for="username">{{ "ADD.NAME" | translate }}</label>
              <input
                type="text"
                class="form-control username mb-3"
                id="name"
                placeholder="Type the product name..."
                input-name="nameElement"
                formControlName="name"
                appInputValidator
              />
              <app-error-message
                [formControlInput]="productForm.get('name')"
                [errorMessage]="NAME_INPUT_ERROR_MESSAGE"
              ></app-error-message>
            </div>
            <div class="form-group">
              <label for="description">{{
                "ADD.DESCRIPTION" | translate
              }}</label>
              <textarea
                type="text"
                class="form-control username mb-3"
                id="description"
                textarea-name="descriptionElement"
                placeholder="Type the product description..."
                formControlName="description"
                appInputValidator
              >
              </textarea>
              <app-error-message
                [formControlInput]="productForm.get('description')"
                [errorMessage]="REQUIRED_ERROR_MESSAGE"
              ></app-error-message>
            </div>
            <div class="form-group">
              <label for="image">{{ "ADD.URL" | translate }}</label>
              <input
                type="text"
                class="form-control username mb-3"
                id="image"
                placeholder="Type the product URL..."
                input-name="imageElement"
                formControlName="image"
                appInputValidator
              />
            </div>
            <app-error-message
              [formControlInput]="productForm.get('image')"
              [errorMessage]="REQUIRED_ERROR_MESSAGE"
            ></app-error-message>
            <div class="form-group mb-3">
              <label>{{ "ADD.RATINGS" | translate }}</label>
              <br />
              <app-rating
                [productRating]="stars"
                (newItemEvent)="rateProduct($event)"
              ></app-rating>
            </div>
            <div class="form-group">
              <label for="price">{{ "ADD.PRICE" | translate }}</label>
              <input
                type="number"
                class="form-control mb-3"
                input-name="priceElement"
                id="price"
                (keydown)="checkPrice($event)"
                placeholder="Type the product price..."
                formControlName="price"
                appInputValidator
                required
                onpaste="return false;"
                min="1"
                step="0.01"
              />
              <app-error-message
                [formControlInput]="productForm.get('price')"
                [errorMessage]="PRICE_ERROR_MESSAGE"
              ></app-error-message>
            </div>
            <div class="form-group">
              <label for="password">{{ "ADD.TAGS" | translate }}</label
              ><br />
              <small>{{ "ADD.SMALL-TAGS" | translate }}</small>
              <div class="flex-direction: row mb-5">
                <span
                  *ngFor="let item of tagList; let i = index"
                  class="col-4 col-sm-4 col-md-3 mt-3"
                  (click)="selectTag(i)"
                  span-name="tagElement"
                  [ngClass]="{ selected: item.isSelected }"
                >
                  {{ item.name }}
                </span>
              </div>
            </div>
            <div class="d-flex justify-content-center mb-3">
              <button
                type="submit"
                button-name="submitButton"
                class="btn btn-primary btn-customized"
                [ngClass]="{
                  'btn-secondary disabled':
                    productForm.invalid || !selectedTagsNo
                }"
                (click)="submitForm()"
              >
                {{ "ADD.SUBMIT" | translate }}
              </button>
              <button
                type="button"
                class="btn btn-danger btn-customized"
                button-name="deleteButton"
                [hidden]="!isOnEdit"
                (click)="deleteProduct()"
              >
                {{ "ADD.DELETE" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</app-error-wrapper>
