<<<<<<< HEAD
<app-error-wrapper>
=======
>>>>>>> af070dba900195a426105115463b42161350b21f
  <form class="row" [formGroup]="filtersForm">
    <div class="col-md-3">
      <label for="search">{{ "FILTER.TAG" | translate }}</label>
      <input formControlName="tagData" type="text" name="search" />
    </div>
    <div class="col-md-3">
      <label for="order">{{ "FILTER.PRICE" | translate }}</label>
      <select name="sorting" id="order" formControlName="priceOrder">
        <option [value]="sort.ASC">
          {{ "FILTER.ASCENDING" | translate }}
        </option>
        <option [value]="sort.DESC">
          {{ "FILTER.DESCENDING" | translate }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="order">{{ "FILTER.RATING" | translate }}</label>
      <select name="sorting" id="order" formControlName="ratingOrder">
        <option [value]="sort.ASC">
          {{ "FILTER.ASCENDING" | translate }}
        </option>
        <option [value]="sort.DESC">
          {{ "FILTER.DESCENDING" | translate }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="order">{{ "FILTER.RESULTS" | translate }}</label>
      <select name="itemsPerPage" id="order" formControlName="itemsNumber">
        <option [value]="pageSize.FIVE">5</option>
        <option [value]="pageSize.TEN">10</option>
        <option [value]="pageSize.TWENTY">20</option>
        <option [value]="pageSize.FIFTY">50</option>
      </select>
    </div>
  </form>
</app-error-wrapper>
