<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    <button
      *ngIf="numberOfPages"
      [disabled]="currentItemIndex === 0"
      [hidden]="!totalItems"
      (click)="onPrevChange()"
      button-name="previousPageButton"
    >
      {{ "PAGINATION.PREVIOUS" | translate }}
    </button>
    <li
      class="page-item"
      *ngFor="let item of pageList"
      [hidden]="!totalItems"
      [ngClass]="{ active: item === currentItemIndex + 1 }"
    >
      <a class="page-link" (click)="sendNumber(item - 1)">{{ item }} </a>
    </li>
    <button
      *ngIf="numberOfPages"
      [disabled]="numberOfPages - 1 === currentItemIndex"
      [hidden]="!totalItems"
      (click)="onNextChange()"
      button-name="nextPageButton"
    >
      {{ "PAGINATION.NEXT" | translate }}
    </button>
  </ul>
</nav>
