<app-error-wrapper>
  <button
    class="btn-primary m-auto btn-lg btn-group-justified"
    button-name="navigateToProductsButton"
    (click)="onNavigateToProductsClick()"
  >
    {{ "VIEWPRODUCT.BACK" | translate }}
  </button>

  <div class="container d-flex justify-content-center">
    <div class="row align-items-center">
      <div class="col-6 align-self-center">
        <img
          img-name="imageElement"
          class="image-responsive"
          [src]="product?.image"
          (error)="changeImage()"
          alt=""
        />
      </div>
      <div class="col-6 align-self-center">
        <ul>
          <li li-name="nameListElement">
            {{ "VIEWPRODUCT.NAME" | translate }} : {{ product?.name }}
          </li>
          <li li-name="descriptionListElement">
            {{ "VIEWPRODUCT.DESCRIPTION" | translate }} :
            {{ product?.description }}
          </li>
          <li li-name="priceListElement">
            {{ "VIEWPRODUCT.PRICE" | translate }} :
            {{ product?.price | currency: "EUR" }}
          </li>
          <li li-name="ratingListElement">
            {{ "VIEWPRODUCT.RATING" | translate }} :
            <app-rating [productRating]="product?.rating || 0"></app-rating>
          </li>
        </ul>
        <div>
          <span
            *ngFor="let tag of product?.tags"
            class="badge badge-pill badge-danger black"
          >
            {{ tag?.name }}</span
          >
        </div>
        <br />
        <button
          type="button"
          class="btn btn-primary"
          button-name="navigateToProductManagerButton"
          (click)="onNavigateToEditProductClick()"
        >
          {{ "VIEWPRODUCT.EDIT" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="sendProduct()"
          button-name="addProductToCartButton"
        >
          {{ "VIEWPRODUCT.ADDTOCART" | translate }}
          <i class="bi bi-cart-check"></i>
        </button>
      </div>
    </div>
  </div>
</app-error-wrapper>
