<nav class="navbar show navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse w-100 order-1 order-md-0 dual-collapse2">
    <a class="navbar-brand">Emag v2.0</a>
    <ul class="navbar-nav mr-auto">
      <li>
        <a
          class="nav-link"
          [routerLink]="['/home']"
          link-name="homePageLink"
          routerLinkActive="active"
          >{{ "NAVBAR.HOME" | translate }} <span class="sr-only"></span
        ></a>
      </li>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ "NAVBAR.PRODUCTS" | translate }}
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/products']"
              routerLinkActive="active"
              link-name="productsLink"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ "NAVBAR.LIST" | translate }}</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/products/manager/new-product']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              link-name="addProductLink"
              >{{ "NAVBAR.MANAGER" | translate }}</a
            >
          </li>
        </ul>
      </div>
    </ul>
    <div class="navbar-collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <a class="nav-link" routerLink="cart">
          <i class="bi bi-cart-check-fill fa-lg">
            <span
              class="badge alert-success"
              badge-name="badgeElement"
              *ngIf="cartSize$ | async"
              >{{ cartSize$ | async }}</span
            >
          </i>
        </a>
      </ul>
    </div>
  </div>
</nav>
