<app-error-wrapper>
  <div class="text-center my-4">
    <app-product-filter
      (sendFiltersData)="onFiltersChanged($event)"
    ></app-product-filter>
  </div>
  <app-products-view
    [products]="(receivedProducts$ | async)?.products || []"
  ></app-products-view>
  <app-products-pagination
<<<<<<< HEAD
    [totalNumberOfItems]="(receivedProducts$ | async)?.total || 0"
=======
    [totalNumberOfItems]="productListResponse?.total || 0"
>>>>>>> af070dba900195a426105115463b42161350b21f
    [productsPerPageFilter]="filters?.itemsNumber || 0"
    (sendPageNumber)="onPageChanged($event)"
  ></app-products-pagination>
</app-error-wrapper>
