img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
}

.border {
  border-style: solid;
}

.half {
  width: 50%;
}

.center-input {
  width: 80%;
  margin: auto;
}
.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  text-align: center;
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}