<app-error-wrapper>
  <div [ngSwitch]="cartState">
    <div *ngSwitchCase="emptyCartState">
      <img src="/assets/empty-cart.png" alt="empty" class="row blocktext" />
      <button class="row blocktext" (click)="onNavigateToProductClick()">
        {{ "SHOPPING-CART.START" | translate }}
      </button>
    </div>
    <div *ngSwitchCase="notEmptyCartState">
      <div
        class="container"
        *ngFor="let formGroup of productCartFormGroupsControls; index as i"
      >
        <form [formGroup]="formGroup" form-name="shoppingCartForm">
          <div class="row d-flex justify-content-center mb-3">
            <div class="col-10 col-md-4">
              <img
                [src]="formGroup.get('image')?.value"
                (error)="changeImage(i)"
                alt="noimg"
              />
            </div>
            <div class="col-2 col-md-3">
              <div class="row mb-2">
                {{ "SHOPPING-CART.NAME" | translate }}
                {{ formGroup.get("name")?.value }}
              </div>
              <div class="row mb-2">
                {{ "SHOPPING-CART.QUANTITY" | translate }}
                {{ formGroup.get("quantity")?.value }}
              </div>
              <div class="row mb-2">
                {{ "SHOPPING-CART.PRICE" | translate }}
                {{ formGroup.get("price")?.value | customCurrency: "EUR" }}
              </div>
              <div class="row mb-2">
                {{ "SHOPPING-CART.SUBTOTAL" | translate }}
                {{
                  formGroup.get("totalPricePerItem")?.value
                    | customCurrency: "EUR"
                }}
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="input-group justify-content-center">
              <button
                class="btn btn btn-warning"
                type="button"
                id="button-addon1"
                (click)="updateQuantity(i, -1)"
                button-name="decreaseQuantityButton"
              >
                {{ "SHOPPING-CART.DECREASE" | translate }}
              </button>
              <div class="col-2 col-md-2">
                <input
                  type="number"
                  class="form-control"
                  placeholder=""
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                  appInputValidator
                  formControlName="quantity"
                  min="1"
                  max="10"
                  (keydown)="checkIsValidKey($event)"
                  (input)="checkIsValidInput($event, i)"
                  input-name="productValueElement"
                />
              </div>
              <button
                type="button"
                id="button-addon1"
                class="btn btn-success"
                button-name="increaseQuantityButton"
                (click)="updateQuantity(i, 1)"
              >
                {{ "SHOPPING-CART.INCREASE" | translate }}
              </button>

              <div class="pull-left" style="margin-left: 50px">
                <button
                  class="btn btn-danger"
                  button-name="removeItemButton"
                  (click)="removeFormGroup(i)"
                >
                  X
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row justify-content-center mb-3">
        <div class="col-4 col-md-2">
          <button
            class="btn btn-danger"
            button-name="resetButton"
            (click)="clearAllItems()"
          >
            {{ "SHOPPING-CART.RESET" | translate }}
          </button>
        </div>
        <div class="col-4 col-md-2">
          {{ "SHOPPING-CART.TOTAL" | translate }}
          {{ totalPrice | customCurrency: "EUR" }}
        </div>

        <div class="col-4 col-md-2">
          <app-payment-form (newItemEvent)="clearAllItems()"></app-payment-form>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="loadingCartState">Loading...</div>
  </div>
</app-error-wrapper>
