<div *ngIf="receivedSpinnerStatus$ | async; else content">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
<ng-template #content>
  <div *ngIf="(receivedErrors$ | async)?.length; else loadedContent">
    <div
      class="alert alert-danger text-center"
      role="alert"
      *ngFor="let item of receivedErrors$ | async"
    >
      {{ item }}
    </div>
  </div>
  <ng-template #loadedContent>
    <ng-content></ng-content>
  </ng-template>
</ng-template>
