<div>
  <form [formGroup]="paymentForm">
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              {{ "PAYMENT-FORM.CHECKOUT" | translate }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <label class="center-input">{{
            "PAYMENT-FORM.FIRST" | translate
          }}</label>
          <input
            type="text"
            class="center-input mb-3"
            placeholder="First Name..."
            formControlName="firstName"
            appInputValidator
            (keyup)="sendPaymentFormState()"
          />
          <app-error-message
            [formControlInput]="paymentFormFirstName"
            [errorMessage]="NAME_INPUT_ERROR_MESSAGE"
            class="center-input"
          ></app-error-message>
          <label class="center-input">{{
            "PAYMENT-FORM.LAST" | translate
          }}</label>
          <input
            type="text"
            class="center-input mb-4"
            placeholder="Last Name..."
            formControlName="lastName"
            appInputValidator
            (keyup)="sendPaymentFormState()"
          />
          <app-error-message
            [formControlInput]="paymentFormLastName"
            [errorMessage]="NAME_INPUT_ERROR_MESSAGE"
            class="center-input"
          ></app-error-message>
          <label class="center-input">{{
            "PAYMENT-FORM.EMAIL" | translate
          }}</label>
          <input
            type="text"
            class="center-input mb-4"
            placeholder="Email..."
            formControlName="email"
            appInputValidator
            (keyup)="sendPaymentFormState()"
          />
          <div class="d-flex justify-content-center">
            <div
              class="spinner-border text-primary"
              role="status"
              *ngIf="paymentFormEmail?.pending"
            >
              <span class="sr-only"></span>
            </div>
          </div>
          <app-error-message
            [formControlInput]="paymentFormEmail"
            [errorMessage]="EMAIL_INPUT_ERROR_MESSAGE"
            class="center-input"
          ></app-error-message>
          <label class="center-input">{{
            "PAYMENT-FORM.ADDRESS" | translate
          }}</label>
          <input
            type="text"
            class="center-input mb-4"
            placeholder="Address..."
            formControlName="address"
            appInputValidator
            (keyup)="sendPaymentFormState()"
          />
          <app-error-message
            [formControlInput]="paymentFormAddress"
            [errorMessage]="NAME_INPUT_ERROR_MESSAGE"
            class="center-input"
          ></app-error-message>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ "PAYMENT-FORM.CLOSE" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              button-name="submit-button"
              [ngClass]="{
                'btn-secondary disabled':
                  paymentForm.invalid || paymentFormEmail?.pending
              }"
              (click)="submitPaymentForm()"
            >
              {{ "PAYMENT-FORM.PLACE" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    {{ "PAYMENT-FORM.PROCEED" | translate }}
  </button>
</div>
