<div class="container-fluid">
  <div class="row">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
      class="col-sm-6 col-md-4 col-lg-3"
    >
    </app-product-card>
  </div>
</div>
