<form [formGroup]="tagsForm" (ngSubmit)="sendTag(tagsForm.value)">
  <div class="form-group row d-flex justify-content-center">
    <div class="col-md-4">
      <label class="d-flex justify-content-center">{{
        "TAGS.TAG-NAME" | translate
      }}</label>
      <input
        input-name="tagInputElement"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="tag1, tag2, etc..."
        appInputValidator
      />
    </div>
  </div>
  <app-error-message
    [formControlInput]="tagsForm.get('name')"
    [errorMessage]="NAME_INPUT_ERROR_MESSAGE"
  ></app-error-message>
  <div class="d-flex justify-content-center">
    <button
      type="submit"
      button-name="submitButton"
      class="btn btn-primary"
      [ngClass]="{ 'btn-secondary disabled': tagsForm.invalid }"
      [disabled]="tagsForm.invalid"
    >
      {{ "TAGS.SUBMIT" | translate }}
    </button>
  </div>
</form>
<br />
<app-available-tags [tagsList]="tagsList"></app-available-tags>
