<div class="card-columns">
  <div class="card border-success mb-3" style="max-width: 18rem">
    <div class="card-header bg-transparent border-success text-center">
      {{ fieldsData.name }}
    </div>
    <div class="card-body text-success">
      <img
        class="image-responsive"
        [src]="src"
        (error)="changeImage()"
        alt=""
      />
      <p class="card-text text-center" product-name="priceElement">
        {{ "CARD.PRICE" | translate }} :
        {{ fieldsData.price | currency: "EUR" }}
      </p>
      <p class="card-text text-center">
        {{ "CARD.RATING" | translate }}
        <app-rating [productRating]="fieldsData.rating"></app-rating>
      </p>
    </div>
    <div class="card-footer bg-transparent border-success">
      <div class="d-flex align-content-center flex-wrap">
        <button
          button-name="routingButton"
          class="btn-primary m-auto btn-lg btn-group-justified"
          (click)="onNavigateToProductClick()"
        >
          {{ "CARD.VIEW" | translate }}
        </button>
        <button
          class="btn-primary m-auto btn-lg btn-group-justified"
          button-name="sendProductButton"
          (click)="sendProduct()"
        >
          <i class="bi bi-cart-check"></i>
        </button>
      </div>
    </div>
  </div>
</div>
